

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .bg-gray-900 {
    background-color: #1a202c;
  }
  
  .text-white {
    color: #fff;
  }
  
  .bg-gray-800 {
    background-color: #2d3748;
  }
  
  .text-black {
    color: #000;
  }
  